{% extends 'reservation/base.html' %}

{% block nav %}
{% include 'reservation/navigation.html' %}
{% endblock nav %}

{% block content %}
<section>
    <div class="container" style="margin: 0 auto; text-align: center;">

        <form method="post" action="{% url 'reservation:choose_specialist' %}">
            {% csrf_token %}

            <fieldset style="border: none; text-align: center;">
                <legend><h2>Choose a Specialist for {{ service.title }}</h2></legend>

                <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
                    {% for specialist in specialists %}
                    <article style="max-width: 500px; padding: 20px; text-align: left;">
                        <div>
                            <h3 style="color:#027fc1">{{ specialist.first_name }}</h3>
                            <p>Email: {{ specialist.email }}</p>
                            <p>Phone: {{ specialist.phone }}</p>

                            <label style="display: block; margin-top: 10px;">
                                <input type="radio" name="specialist_id" value="{{ specialist.id }}" required>
                                I prefer this Specialist
                            </label>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </fieldset>

            <button type="submit" class="contrast" style="margin-top: 20px; width: 20%; padding: 10px;">
                Choose available Time 
            </button>
        </form>
    </div>
</section>
{% endblock content %}
